.container
  .panel
    = form_with(model: @profile, url: profile_path, method: :patch, data: { turbo: false }) do |f|
      .panel_body
        %h2 Profile
        %ul
          - @profile.errors.full_messages.each do |message|
            %li= message
        .field
          = f.label :nickname, 'Name'
          = f.text_field :nickname, class: 'text'
        .field
          = f.label :avatar, 'Avatar'
          = f.file_field :avatar, class: 'file'
      .panel_footer
        = f.submit 'Submit', class: 'btn-primary full-width-btn'
