.container
  .panel
    = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { novalidate: true, data: { turbo: false } }) do |f|
      .panel_body
        %h2 Sign up
        .field
          = f.label :email, 'Email'
          = f.email_field :email, autofocus: true, autocomplete: "email", class: 'text'
        .field
          = f.label :password, 'Password'
          - if @minimum_password_length
            %em
              (#{@minimum_password_length} characters minimum)
          = f.password_field :password, autocomplete: "new-password", class: 'text'
        .field
          = f.label :password_confirmation, 'Password Confirmation'
          = f.password_field :password_confirmation, autocomplete: "new-password", class: 'text'
          .links
            = render "devise/shared/links"
            = render "devise/shared/error_messages", resource: resource
      .panel_footer
        = f.submit "Submit", class: 'btn-primary full-width-btn'
