.container
  .panel
    = form_with(model: [@task, @comment], data: { turbo: false }) do |f|
      .panel_body
        %h2 New Comment
        - if @comment.errors.any?
          %ul.error
            - @comment.errors.full_messages.each do |message|
              %li= message
        .field
          = f.label :content
          = f.text_area :content, class: 'text'
      .panel_footer
        = f.submit 'Submit', class: 'btn-primary full-width-btn'
