.container
  .card
    = form_with(model: [@board, task], local: true) do |f|
      .card_body
        %h2 New Card
        - if task.errors.any?
          %ul.error
            - task.errors.full_messages.each do |message|
              %li= message
        .field
          = f.label :eyecatch, 'Eyecatch'
          = f.file_field :eyecatch, class: 'file'
        .field
          = f.label :title, 'Title'
          = f.text_field :title, class: 'text'
        .field
          = f.label :content, 'Description'
          = f.text_area :content, class: 'text'
        .field
          = f.label :deadline, 'Deadline'
          = f.datetime_local_field :deadline, class: 'text'
      .card_footer
        = f.submit 'Submit', class: 'btn-primary full-width-btn'
