.container
  .card
    .task_detail
      .task_detail_header
        %h2= @task.title
        - if user_signed_in? && current_user == @task.user
          .dropdown
            = image_tag 'dot.png', class: 'dropbtn'
            .dropdown_content
              = link_to 'Edit', edit_task_path(@task)
              = link_to 'Delete', task_path(@task), data: { method: 'delete', confirm: '本当に削除してもよろしいですか？' }

      - if @task.eyecatch.attached?
        .eyecatch
          = image_tag @task.eyecatch
      .task_detail_content
        %p= @task.content
      .task_detail_comment
        %h3 Comment
      - @comments.each do |comment|
        .task_detail_comments
          .task_detail_comments_img
            = image_tag comment.user.profile.avatar
          .task_detail_comments_content
            %p= comment.content

    %p.new_comment
      = link_to '+ Add new comment', new_task_comment_path(@task)