.board_card
  .board_card_top
    = link_to task_path(task), class: 'board_card_link' do
      %h5= task.title
    - if user_signed_in? && current_user == card.user
      .dropdown
        = image_tag 'dot.png', class: 'dropbtn'
        .dropdown_content
          = link_to 'Edit', edit_card_path(card)
          = link_to 'Delete', card_path(card), data: { method: 'delete', confirm: '本当に削除してもよろしいですか？' }
  .board_card_content
    %p= card.description
  .board_card_img
    = image_tag card.user.avatar_image
