= link_to task_path(task) do
  .task
    - if task.eyecatch.attached?
      .eyecatch
        = image_tag task.eyecatch
    .task_header
      %h5= task.title
    .task_content
      %p= task.content
    .task_footer
      .task_img
        = image_tag task.avatar_img
      .task_comment
        %span= task.comments.count
        = image_tag 'comment.svg'
