.container
  .panel
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .panel_body
        %h2 Sign in
        .field
          = f.label :email, 'Email'
          = f.email_field :email, autofocus: true, autocomplete: "email", class: 'text'
        .field
          = f.label :password, 'Password'
          = f.password_field :password, autocomplete: "current-password", class: 'text'
          - if devise_mapping.rememberable?
            .field
              %label
                = f.check_box :remember_me
                = 'remember_me'
          .links
            = render "devise/shared/links"
            = render "devise/shared/error_messages", resource: resource
      .panel_footer
        = f.submit "Submit", class: 'btn-primary full-width-btn'
    .guest_login
      = button_to 'Guest login', guest_sign_in_path, method: :post, data: { turbo: false }, class: 'btn-guest'
